.poemlist-container {
  text-align: center;
  padding: 20px;
}

.poem-item {
  background-color: #FFC107;
  color: black;
  padding: 15px;
  margin: 10px;
  list-style: none;
  border-radius: 5px;
  transition: padding 0.3s, font-size 0.3s;
}


@media (max-width: 1024px) {
  .poem-item {
    width: 80%;
    padding: 14px;
  }
}

@media (max-width: 768px) {
  .poem-item {
    width: 90%;
    padding: 12px;
  }
}

@media (max-width: 480px) {
  .poem-item {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }
}

.back-button {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: white;
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: darkred;
}
